/* Variables */
$text-primary-dark: #393939;
$text-secondary-dark: #696969;
$text-primary-light: #EFEFEF;
$btn-primary: #0883D8;
$btn-secondary: #F08D49;
$btn-danger: #CC0000;
$light-gray: #989898;

*, 
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Global styles */
.title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}
.input {
    padding: 0rem;
}
.btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    &:hover {
        cursor: pointer;
    }
}
.btn-primary {
    background-color: $btn-primary;
    color: $text-primary-light;
}
.btn-secondary {
    background-color: $btn-secondary;
    color: $text-primary-light;
}
.btn-danger {
    background-color: $btn-danger;
    color: $text-primary-light;
}
.link {
    text-decoration: none;
    color: $text-primary-light;
}

/* Header.js */
#header {
    width: 100vw;
    display: flex;
    align-items: center;
    height: 5rem;
    border-bottom: 0.05px solid #262524;
    padding: 2rem 2rem;
    .menu {
        flex-grow: 0;
        margin: 0 8px 0 0;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .logo {
        flex-grow: 1;
        text-align: center;
        text-transform: lowercase;
        letter-spacing: 2px;;
        font-style: italic;
        font-weight: 600;
        font-size: 2.5rem;
        a {
            color: $text-primary-dark;
            text-decoration: none;
        }
    }
}

/* Sidebar.js */
#sidebar {
    position: absolute;
    height: calc(100vh - 5rem);
    min-width: 20rem;
    max-width: 25rem;
    background-color: $text-primary-dark;
    transition: 0.25s ease-in-out;
    .sidenav {
        padding: 2rem;
        ul {
            list-style-type: none;
            color: $text-primary-dark;
            li {
                margin: 2rem 0;
                font-size: 1.25rem;;
                color: $text-primary-light;
                div {
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                    .navlink-icon {
                        margin: 0 1rem 0 0;
                    }
                }
            }
        }
    }
}
.sidebar-open {
    transform: translateX(-20rem);
    transition: 0.25s ease-in-out;
}

/* ContactList.js */
#list {
    width: auto;
    max-width: 720px;
    max-height: 100vh;
    margin: 0 auto;
    padding: 2rem 1rem;
    .list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 1.5rem 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .list-title {
            flex-grow: 1;
            color: $text-primary-dark;
        }
        .input {
            display: flex;
            align-items: center;
            flex-grow: 1;
            input {
                padding: 0.5rem;
                border: 1px solid $light-gray;
                border-radius: 4px 0 0 4px;
                width: 250px;
            }
            .search {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.15rem;
                color: $text-secondary-dark;
                height: 32px;
                width: 28px;
                border: 1px solid $light-gray;
                border-radius: 0 4px 4px 0;
            }
        }
    }
    .list-body {
        margin: 20px 0 0;
        .content {
            padding: 0.75rem 2rem;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: auto;
            width: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .content-card {
            margin: 1rem auto;
            padding: 1rem 2rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid $light-gray;
            border-radius: 4px;
            .contact {
                display: flex;
                align-items: center;
                .contact-avatar {
                    width: 32px;
                    height: 32px;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 12px 0 0;
                    padding: 4px;
                    color: $text-primary-light;
                    background-color: $text-primary-dark;
                    border-radius: 50%;
                }
                .contact-detail {
                    .contact-name {
                        font-size: 1.25rem;
                        color: $text-primary-dark;
                    }
                    .contact-email {
                        color: $text-secondary-dark;
                    }
                }
            }
            .icons {
                font-size: 1.75rem;
                display: flex;
                align-items: center;
                .edit {
                    margin: 0 8px;
                    color: $text-secondary-dark;
                }
                .delete {
                    margin: 0 8px;
                    color: #E4482B;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
}

/* ContactAdd.js */
#add {
    width: 920px;
    max-height: 100vh;
    margin: 0 auto;
    padding: 2rem 1rem;
    .add-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 1.5rem 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .add-title {
            flex-grow: 1;
            color: $text-primary-dark;
            text-transform: capitalize;
        }
    }
    .add-body {
        margin: 20px 0 0;
        .content {
            padding: 0.75rem 2rem;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: auto;
            width: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            .form {
                padding: 1rem 0;
                .form-element {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin: 1rem 0;
                    label {
                        margin: 0.5rem 0;
                        font-size: 1.25rem;
                        color: $text-primary-dark;
                    }
                    input {
                        width: 100%;
                        height: 2.5rem;
                        font-size: 1.1rem;
                        padding: 4px 8px;
                        border-radius: 4px;
                        border: 0.5px solid $text-secondary-dark;
                        color: $text-secondary-dark;
                        &:focus {
                            border: 0.5px solid $text-secondary-dark;
                        }
                    }
                }
                .add-btn {
                    margin: 2rem 0 0;
                    padding: 1rem 1.5rem;
                    width: 15%;
                    font-size: 1rem;
                    text-align: center;
                }
                .btns {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}

/* Loading.js */
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    font-size: 3rem;
    color: $text-secondary-dark;
    h4 {
        display: flex;
        align-items: center;
        span {
            margin: 1rem 4rem 0 0;
        }
    }
}

/* Error.js */
#error {
    z-index: 2;
    background-color: #445760;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        width: 50%;
        height: 50%;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
        background-color: $text-secondary-dark;
        .heading {
            font-size: 2.5rem;
            color: $text-primary-light;
        }
        .description {
            margin: 3rem 0;
            font-size: 2rem;
            color: $text-primary-light;
        }
        .links {
            width: 100%;
            margin: 2rem 0;
            padding: 0 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                text-decoration: none;
                font-size: 1.25rem;
                font-weight: 500;
                color: $text-primary-light;
            }
        }
    }
}